/* start global variables */

:root {
    --heading-color: #ebeced;
    --main-color: #10cab7;
    --bg-color: #f6f6f6;
    --main-padding:60px;
    --font-color: #333;
}

/* end globale variables */
/* start compenents */
.special-heading {
    color: var(--heading-color);
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    margin: 0;
    text-transform: capitalize;
}
.special-p {
    text-align: center;
    margin-top: -30px;
    font-size: 16px;
    color: #979797;
}
@media (max-width:767px) {
    .special-heading {
        font-size: 80px;
    }
    .special-p {
        font-size: 15px;
        margin-top: -20;
    }
}
/* end compenents */
/* ===================== */
/* start global rules */
html {
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Work Sans', sans-serif;
}
/* start style Container  */
.container {
    margin: 0 auto;
    padding: 0 15px;
}
/* start continer mediaqueres */
@media (min-width: 768px) {
    .container {
        width : 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width : 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width : 1170px;
    }
}

/* end continer mediaqueres */
/* end style coantainer */
/* end global variables */

/* start heading */

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header img {
    width: 100px;
}
header .links .icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 30px;
}
header .links .icon span {
    background-color: rgb(78, 72, 72);
    height: 2px;
    width: 100%;
    margin-bottom: 5px;
}

header .links .icon span:nth-child(2) {
    width: 70%;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
header .links:hover ul {
    display: block;
}

header .links ul li {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

header .links ul li:hover {
    padding-left: 25px;
}

header .links ul {
    z-index: 99;
    list-style: none;
    min-width: 200px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: calc(100% + 20px);
    background-color: #f6f6f6;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    display: none;
}

header .links ul li a {
    color: var(--font-color);
    text-decoration: none;
    display: block;
    padding: 15px;
}
header .links ul li:not(:last-child) {
    border-bottom: 1px solid var(--font-color);
}

header .links ul::before {
    content: "";
    border-style: solid;
    border-width: 10px;
    border-color:transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

/* end heading */
/* start lnading section */

.landing {
    background-image: url(../img/mountain.jpg);
    background-size: cover;
    height: calc(100vh - 43.7px);
    position: relative;
}
.landing .intro-text {
    width: 320px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.landing .intro-text h1 {
    margin: 0;
    color: var(--main-color);
    text-transform: capitalize;
    font-size: 3em;
}
.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

/* end lnading section */
/* start features */

.features {
    background-color: var(--bg-color);
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}
.features .container .card {
    text-align: center;
}

.features .container .card:hover {
    box-shadow: 0px 4px 18px 0px rgb(36 39 46 / 10%);
}
.features .container .card:hover i {
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    font-size: 55px;
}
.features .container .card:hover h3 {
    transform: scale(1.3, 1.1);
    -webkit-transform: scale(1.3, 1.1);
    -moz-transform: scale(1.3, 1.1);
    -ms-transform: scale(1.3, 1.1);
    -o-transform: scale(1.3, 1.1);
}
.features .container .card i {
    padding: var(--main-padding) 0 0 0;
    transition: 0.8s;
    font-size: 45px;
    color: var(--main-color);
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

.features .container .card h3 {
    font-weight: 800;
    transition: 0.8s;
    margin: 30px 0;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}

.features .container .card p {
    color: var(--font-color);
    font-size: 16px;
    line-height: 1.8;
}
/* start features */
/* start services */
.services {
    padding: var(--main-padding) 0 0 0;
}
.service-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    padding: var(--main-padding) 0 0 0;
    gap: 60px;
}
.service-container .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: var(--main-padding);
}
.service-container .card i {
    font-size: 30px;
    color: var(--main-color);
}
.service-container img {
    width: 300px;

}
.service-container .col {
    position: relative;
}
.service-container .col .image::after{
    content: "";
    width: 100px;
    height: 420px;
    background-color: #2C4755;
    position: absolute;
    top: calc(0% - 55px);
    right: 0px;
    z-index: -1;
}
@media (max-width:1199px) {
    .service-container .col .image {
        display: none;
    }
}
.service-container .card h3 {
    color: #2C4755;
    font-size: 15px;
    font-weight: 800;
}
.service-container .card p {
    font-size: 13px;
    line-height: 1.6;
    color: #2C4755;
}
/* end services */
/* start portfolio */
.portfolio {
    background-color: var(--bg-color);
    padding: var(--main-padding) 0;
}
.portfolio-content {
    margin-top: var(--main-padding);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
}
.portfolio .portfolio-content .card {
    background-color: white;
    transition-duration: 1s;
}

.portfolio .portfolio-content .card .image {
    overflow: hidden;
    transition-duration: 1s;
}

.portfolio .portfolio-content .card img {
    max-width: 100%;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
.portfolio .portfolio-content .card:hover img {
    filter: blur(3px) grayscale(80%);
    transform: scale(1.1,1.1);
    -webkit-transform: scale(1.2,1.3);
    -moz-transform: scale(1.2,1.3);
    -ms-transform: scale(1.2,1.3);
    -o-transform: scale(1.2,1.3);
}
.portfolio .portfolio-content .card .info {
    padding: 15px;
}
.portfolio .portfolio-content .card:hover .image {
    height: 40%;
    z-index: 12;
}

.portfolio .portfolio-content .card .info  h3 {
    margin: 0;
    font-weight: 700;
}
.portfolio .portfolio-content .card .info p {
    color: var(--font-color);
    line-height: 1.6;
    font-weight: 300;
}

/* end portfolio */
/* start about */
.about {
    padding: var(--main-padding) 0;
}
.about .about-content {
    margin-top: calc(var(--main-padding) + 40px) ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width:991px) {
    .about .about-content {
        flex-direction: column;
        text-align: center;
    }
    .about .about-content .image::before  , .about .about-content .image::after {
        display: none;
    }
    .about .about-content .image {
        margin: 0 auto 60px;
    }
}
.about .about-content .image {
    width: 280px;
    height: 310px;
    position: relative;
}
.about .about-content .image img {
    max-width: 100%;
}
.about .about-content .image::before {
    content: '';
    width: 80px;
    height: calc(100% + 60px);
    position: absolute;
    background-color: var(--heading-color);
    left: -20px;
    z-index: -1;
    top: -30px;
}
.about .about-content .image::after {
    content: '';
    height: 70%;
    width: 120px;
    border-left:solid 80px var(--main-color) ;
    border-bottom:solid 80px var(--main-color) ;
    right: -150px;
    position: absolute;
    z-index: -1;
    top: -10%;
}
.about .about-content .text {
    flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 30px;
}
.about .about-content .text hr {
    border-color: var(--main-color);
    width: 50%;
    display: inline-block;
}
.about .about-content .text p:last-of-type {
    font-weight: 300px;
    line-height: 1.8;
    color: #777;
}
/* end about */
/* start contact */
.contact {
    padding: var(--main-padding) 0;
    background-color: var(--bg-color);
}
.contact .info {
    margin-top: var(--main-padding);
    text-align: center;
}
.contact .info .label {
    color: #2C4755;
    font-size: 38px;
    font-weight: 800;
    margin: 0 0 10px;
}
.contact .info .mail {
    display: block;
    text-decoration: none;
    color: var(--main-color);
    font-size: 30px;
    font-weight: 800;
    margin: 0 0 15px 0;
}
.socail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10;
    font-size: 16px;
}
.socail i {
    margin-left: 15px;
    transition-duration: 0.5s;
}
.socail i:hover {
    transform: translateY(-5px);
    color: var(--main-color);
}
.socail p {
    font-weight: 300;
    color: var(--font-color);
}
/* end contact */
/* start footer */
.footer {
    padding: 30px 0;
    text-align: center;
    background-color: #2C4755;
    color: white;
    font-size: 18px;
}
/* end footer */